<h1>Fill Form</h1>
<p> Number of Subject: <%= @numberSubject %></P>
<%= form_with url: "/main/test2?numberSubject=#{@numberSubject}", method: :get do |form| %>
    <% @numberSubject.times do |i| %>
        <%= form.label :subject1, "ชื่อวิชา #{i+1}: " %> <%= form.text_field :"subject#{i+1}" %>
        <%= form.label :score1, "คะแนนวิชา #{i+1}: " %> <%= form.number_field :"score#{i+1}" %>
        <br>
        <br>
    <% end %>
    <br>
    <%= form.submit "submit#{@numberSubject}" %>
<% end %>